doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(charset='utf8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title('join us you are not alone')
    meta(name='description', content='join us you are not alone final year design project')
    link(rel="stylesheet", type="text/css", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
  body
    block content
