extends ../shared/layout

block content
    h1 Admin Dashboard

    div
        ol
            li
                a(target='_blank' href="admin-dashboard/register-peer-motivator") Register peer motivator
            li
                a(target='_blank' href="admin-dashboard/manage-peer-motivator") Manage peer motivators
            li
                a(target='_blank' href="admin-dashboard/add-counselor-info") Add counselor info
            li
                a(target='_blank' href='admin-dashboard/manage-counselor-information') Manage counselor information