extends ../shared/layout

block content

	h1 Register Peer Motivator
	div.container
		form(method="post", action="")
			lable Name
			br
			input.form-control(placeholder="John doe" type="text" name="name")
			br
			label Email
			br
			input.form-control(placeholder="john@example.com" type="email" name="email")
			br
			lable Password
			br
			input.form-control(placeholder="********" type="password" name="password")
			br
			lable Confirm Password
			br
			input.form-control(placeholder="********" type="password" name="confirm_password")
			br
			input(type="submit" class="btn btn-success")