extends ../shared/layout

block content	
	div(class="container-fluid holder")
		div(class="header-holder")
			br
			h1(class="text-center") Find Counselor
			br
			div(class="container-fluid")
				div.row
					div(class="col col-sm-10")
						input(type="text" id="keywords" class="" placeholder="enter counselor name if any..." autofocus)
					div(class="col col-sm-2")
						button(class="button", id="find_counselor") Find
			br
			br
			
		div.container
			br
			br
			div#results
			div(class="text-center")
				button(id="next_page" style="display: none; width: 200px; height:50px;" class="button") Next Page


	
	script(type="text/javascript", src="../javascripts/findcounselor.js")
	script(defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous")

	link(rel="stylesheet" type="text/css" href='/stylesheets/findcounselor.css')




