extends ../shared/layout

block content
  h1 client dashboard

  div.container
    ol
      li
        a(href="/client-dashboard/find-counselor", target="_blank") Find Counselor
      li
        a(href="/client-dashboard/request-meeting", target="_blank") Request Meeting
      li
        a(href="/client-dashboard/appointments", target="_blank") Appointments
        



