extends shared/layout

block content
  h1= title

  div.container
    div
      h2 Login Register
      ul
        li 
          a(href="/register", target="_blank") register client
        li 
          a(href="/admin-dashboard/register-peer-motivator", target="_blank") register pm
        li 
          a(href="/login", target="_blank") login 
    div
      h2 Admin Dashboard
      ul
        li 
          a(href="/admin-dashboard", target="_blank") admin dashboard
      



