extends shared/layout

block content
  h1= title

  div.container
    ul
      li 
        a(href="/register", target="_blank") register
      li 
        a(href="/login", target="_blank") login
      li 
        a(href="/client-dashboard/find-counselor", target="_blank") findcounselor
      li 
        a(href="/admin-dashboard", target="_blank") admin dashboard
      li 
        a(href="/admin-dashboard/manage-peer-motivator", target="_blank") manage pm
      li 
        a(href="/admin-dashboard/manage-counselor-information", target="_blank") manage counselor
      li 
        a(href="/admin-dashboard/register-peer-motivator", target="_blank") Register peer motivator
      li
        a(href="/client-dashboard", target="_blank") Client dashboard



