div.container
    h1 Register
    div.container 
        form(method="post", action="")
            label Full Name
            input(type="text", name="full_name", placeholder="John doe")
            br
            label Email 
            input(type="email", name="email", placeholder="john@gmail.com")
            br
            label Password
            input(type="password", name="password", placeholder="*********")
            br
            label Confirm Password
            input(type="password", name="confirm_password", placeholder="*********")
            br
            input(type="submit", name="submit", value="Register")