body{
	background: #dfe4ea;
}
.mapImage{
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
	left:50%;
	transform: translate(-50%);
}

.block_content{
	border: 0.5px solid #bdc3c7;
	padding: 10px;
	box-shadow: 0 0 10px #000;
	background: white;
}

.holder{
	position: absolute;
	top:0px;
	left:0px;
}

.header-holder{
	color:white;
	background: #57606f;
}

input{
	background: none;
	width: 100%;
	padding: 10px;
	border-radius: 6px;
	border: 2px solid #ff4757;
	color: #ecf0f1;
	box-shadow: 0 0 8px #ff6b81;
}
::placeholder{
	color: #ecf0f1;
}

.button{
	width: 100%;
	height: 100%;
	background: #ff4757;
	border: 1px solid #ff4757;
	color: white;
	box-shadow: 0 0 10px #ff6b81;
}
.button:hover{
	box-shadow: 0 0 15px #ff6b81;
}

.names{
	border-bottom: 2px solid rgb(255, 71, 87);
}