extends ../shared/layout

block content
    
    h1 Peer Motivator Dashboard works 
    ul
        li
            a(href="/peermotivator-dashboard/appointments", target="_blank") Appointments
        li
            a(href="/peermotivator-dashboard/logout", target="_blank") Logout